.gen-grid {
    display: grid;
    grid-template-columns: max-content 15% auto 20%;
    width: 95%;
    align-items: center;
}
.gen-name {
    justify-self: left;
}
.gen-produce {
    justify-self: right;
    padding-right: 5%;
}
.gen-buy-btn {
    height: 50px;
    margin: 5px;
    background-color: #1d1d1d;
    border-style: solid;
    border-radius: 10px;
}