#gen-list {
    width: 98%;
    max-height: 550px;
    overflow: scroll;
}
#gen-list::-webkit-scrollbar {
    display: none;
}
.gen-grid {
    display: grid;
    grid-template-columns: 20% 10% 10% auto 20%;
    align-items: center;
}
.gen-grid-highlighted {
    background-color: #47474733;
}
.gen-name {
    padding-left: 5px;
    justify-self: left;
    font-weight: bold;
}
.gen-lvl {
    margin: 0;
    justify-self: left;
}
.gen-mult {
    margin: 0;
    justify-self: left;
}
.gen-produce {
    justify-self: right;
    padding-right: 5%;
}
.gen-buy-btn {
    height: 50px;
    margin: 5px;
    background-color: #1d1d1d;
    border-style: solid;
    border-radius: 10px;
}
.gen-buy-btn h4 {
    margin: auto;
}