body {
    margin: 0;
    background-color: #1d1d1d;
}
button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Arial', monospace;
    font-weight: 200;
    color: white;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 18px;
}
.m0 {
    margin: 0;
}
.currency-grid {
    display: grid;
    width: max-content;
    grid-template-columns: max-content max-content;
}
.line {
  width: 98%;
  height: 2px;
  justify-self: center;
  background-color: #4f5054;
}
.triangle-icon {
    content: url(../assets/svg/triangle.svg);
}
.icon-h1 {
    width: 55px;
    height: 55px;
}
.icon-h2 {
    width: 33px;
    height: 33px;
}
.icon-h3 {
    width: 23px;
    height: 23px;
}
.icon-h4 {
    width: 16.8px;
    height: 16.8px;
}
.btn-can-afford {
  border-color: #127a20;
}
.btn-can-afford:hover {
  background-color: #5ac46733 !important;
}
.btn-cant-afford {
  border-color: #c41f3d;
}
.btn-cant-afford:hover {
  background-color: #b84b5f33 !important;
}